.button{

    -fx-background-color: #808080;
    -fx-font-weight: bold;
}


.button:pressed {
    -fx-background-color: #d3d3d3;
    -fx-border-color: #808080;
    -fx-border-style: solid;
    -fx-border-width: 2,2,2,2;
}